* {
 font-size: 100%;
 font-family: Helvetica Neue;
 /*color:#00b0bb;*/
}
a{
	text-decoration: none;
}
/*a:link {
    color: #00b0bb;
}*/

/* visited link */
a:visited {
    color: rgba(176,224,230,1);
}

/* mouse over link */
a:hover {
    color: rgba(176,224,230,1);
}

/* selected link */
a:active {
    color: #0000FF;
}
/*body{
	background
}*/