@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: 400;
  src: local('Caudex'), url(http://fonts.gstatic.com/s/caudex/v6/SbAdYGJ-7VKdd4ctqLYjR-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
